<div class="shift_30">
    {% block alert %}
        {% include "::alert.html.twig" %}
    {% endblock %} 
    <form class="display helpers form-horizontal" action="{{ path('vanessa_member_reset_password_rest') }}.html" method="POST" {{ form_enctype(form) }}>
      <fieldset>
          <legend><span class="label label-important">Info</span> <small>All form fields are required.</small></legend>
          <div class="control-group {% if form_errors(form.email) %} error {% endif %}">
            <label class="control-label" for="email">{{ form_label(form.email) }}</label>
            <div class="controls">
              {{ form_widget(form.email) }} 
              <span class="help-inline"><a href="#" data-toggle="tooltip" data-placement="right" title="Provide email address." data-original-title="Provide email address."><i class="icon-info-sign"></i></a></span>  
              <span class="help-inline">{{form_errors(form.email)}}</span> 
              <p class="help-block"></p>           
            </div>
          </div> 
          <div class="control-group {% if form_errors(form.captcha) %} error {% endif %}">
               <label class="control-label" for="captach"></label>
               <div class="controls">
                 {{ form_widget(form.captcha) }} 
                 <span class="help-inline"></span>                
               </div>
          </div>      
          <div class="form-actions">
              <button type="submit" name="submit" class="btn btn-warning" data-toggle="button">Reset &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                        &nbsp;<a href="{{ path('_security_login') }}.html" class="btn btn-small">Cancel</a>
          </div> 
          {{ form_rest(form) }}       
      </fieldset>
    </form>
</div>        
{{ form_stylesheet(form) }}
{{ form_javascript(form) }}
     