{% extends "VanessaSongBundle::layout.html.twig" %}

{% block title %}Manage songs{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/modernizr-latest.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3 class="align_header">Manage songs</h3>
        <div class="span3">
           {% set vars = {'action': 'List'} %}
           {% include 'VanessaSongBundle::breadcrumb.pending.html.twig' with vars  %}
            </div>
            <div class="span8 pull-right" style="margin-right: -25px">
                <div class="btn-group">
                    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#" title="Download pending song list.">
                        <span class="icon-download-alt icon-white"></span>
                        Download                    
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('vanessa_pending_list_download_excel') }}.html" title="Download excel document."><i class="icon-file"></i>&nbsp;Excel</a>
                        </li>
                    </ul>    
                </div>
                <a href="{{ path('vanessa_pending_new') }}.html" class="btn btn-warning" title="Add a new song."><i class="icon-plus-sign icon-white"></i>&nbsp;Add song</a>
                <form class="form-inline pull-right">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-filter" ></i></span>
                        <select name="filterBy" class="span2 selectHelper" data-placeholder="filter by" >
                            <option value="0">filter by..</option>
                            <option value="Completed">Completed</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Active">Active</option>
                        </select>
                    </div>
                    <div class="input-prepend input-append">
                        <span class="add-on"><i class="icon-search" ></i></span>
                        <input name="searchText" title="search" type="text" value="search.."  class="input-small search" />
                        <input type="submit" value="GO!" class="btn btn-warning" />
                    </div>
                </form>              
            </div>
        </div>
        <div class="span12 pull-right">
            {% block alert %}
                {% include "::alert.html.twig" %}
            {% endblock %}
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="{{ path('vanessa_song_list')}}.html" title="View active songs." >Active Songs</a></li>
                    <li class="active"><a href="{{ path('vanessa_pending_list')}}.html" title="View pending songs." >Pending Songs</a></li>
                </ul>            
            </div>
        </div> 
        <div class="span12">
             {% include "VanessaSongBundle:Pending:List/list.table.html.twig" %} 
        </div>
</div>
        
{% endblock body %}


