<ul class="nav nav-tabs pull-right">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  
  {% if app.user.isAdmin == true %} 
        {% if controller == 'label'%}
            <li class="active"><a href="{{ path('vanessa_agency_content_owner_list')}}.html" title="Click to view content owners.">Content Owners</a></li>   
        {% else %}
            <li><a href="{{ path('vanessa_agency_content_owner_list')}}.html" title="Click to view content owners.">Content Owners</a></li>
        {% endif %}   
   {% endif %}  
  
  {% if app.user.isAdmin == true %} 
        {% if controller == 'reseller'%}
            <li class="active"><a href="{{ path('vanessa_agency_reseller_list')}}.html" title="Click to view resellers.">Resellers</a></li>   
        {% else %}
            <li><a href="{{ path('vanessa_agency_reseller_list')}}.html" title="Click to view resellers.">Resellers</a></li>
        {% endif %}   
   {% endif %}  

  {% if is_granted('ROLE_ADMIN') %}     
    {% if controller == 'members'%}
       <li class="active"><a href="{{ path('vanessa_member_list') }}.html" title="Click to view members.">Members</a></li>   
    {% else %}
        <li><a href="{{ path('vanessa_member_list') }}.html" title="Click to view members.">Members</a></li>
    {% endif %}          
  {% endif %}     

  {% if is_granted('ROLE_ADMIN') %}     
    {% if controller == 'artists'%}
       <li class="active"><a href="{{ path('vanessa_artist_list') }}.html" title="Click to view artists.">Artists</a></li>   
    {% else %}
        <li><a href="{{ path('vanessa_artist_list') }}.html" title="Click to view artists.">Artists</a></li>   
    {% endif %}          
  {% endif %}   
        
  {% if is_granted('ROLE_ADMIN') %}     
    {% if controller == 'songs'%}
       <li class="active"><a href="{{ path('vanessa_song_list') }}.html" title="Click to view songs.">Songs</a></li>   
    {% else %}
        <li><a href="{{ path('vanessa_song_list') }}.html" title="Click to view songs.">Songs</a></li>    
    {% endif %}          
  {% endif %}    
        
  {% if is_granted('ROLE_CODE') %}     
    {% if controller == 'codes'%}
       <li class="active"><a href="{{ path('vanessa_code_list') }}.html" title="Click to view codes.">Codes</a></li>   
    {% else %}
        <li><a href="{{ path('vanessa_code_list') }}.html" title="Click to view codes.">Codes</a></li>    
    {% endif %}          
  {% endif %}            
      

      
     
    

{% else %}
   {% if controller == 'home'%}   
        <li class="active"><a href="{{ path('_welcome')}}">Home</a></li>
   {% else %}
        <li><a href="{{ path('_welcome')}}">Home</a></li>
   {% endif %}
        
   {% if controller == 'about'%}   
        <li class="active"><a href="{{ path('vanessa_core_site_about')}}.html" title="About Us">About us</a></li>
   {% else %}
        <li><a href="{{ path('vanessa_core_site_about')}}.html" title="About Us">About us</a></li>
   {% endif %}
        
   {% if controller == 'contact'%}   
        <li class="active"><a href="{{ path('vanessa_core_site_contact')}}.html" title="Contact Us">Contact us</a></li>
   {% else %}
        <li><a href="{{ path('vanessa_core_site_contact')}}.html" title="Contact Us">Contact us</a></li>
   {% endif %}
{% endif %} 
</ul>
