{% extends "VanessaArtistBundle::layout.html.twig" %}

{% block title %}Edit - {{artist.stageName}}{% endblock %}

{% block body %}
<div class="row">
   <div class="span12">
        <h3 class="align_header">Edit - {{artist.stageName}}</h3>
        <div class="span6">
           {% set vars = {'action': 'Edit'} %}
           {% include 'VanessaArtistBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="span5 pull-right" style="margin-right: -25px">        
            <a href="{{ path('vanessa_artist_profile',{'slug': artist.slug })}}.html" class="btn btn-warning pull-right" title="View Artist details."><i class="icon-white icon-eye-open"></i>&nbsp;View Artist</a>
        </div>
        <div class="span12">
             {% if isIpad %}
             <div class="span12 pull-right">
                 <div class="alert alert-info">
                     <button class="close" data-dismiss="alert">×</button>
                     <h4 class="alert-heading">Notice!</h4>
                     We have detected that you are currently using an Ipad, Please note that you will not be able to
                     upload artist images since the Ipad will not allow access to local files such as images
                     or mp3s. We apologize for the inconvenience but there is nothing we can do at this point.
                 </div>
             </div>        
            {% endif %}  
            
            
            {% block alert %}
                {% include "::alert.html.twig" %}
            {% endblock %}
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{{ path('vanessa_artist_edit',{'slug': artist.slug})}}.html" title="Edit artist details." >Artist details</a></li>
                    <li><a href="{{ path('vanessa_artist_account_status_edit',{'slug': artist.slug })}}.html" title="Edit account status.">Account status</a></li>
                </ul>            
            </div>
            
            <div class="span8">
                {% include "VanessaArtistBundle:Artist:Form/form.edit.html.twig" %}
            </div> 
            <div class="span3 pull-right">
                {% include "VanessaArtistBundle:Artist:Hint/form.create.html.twig" %}
            </div>  
        </div>
   </div>    
</div>
{% endblock body %}
