{% extends "VanessaMemberBundle::layout.html.twig" %}

{% block title %}Profile - {{member.fullName}}{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3 class="align_header">Profile - {{member.fullName}}</h3>
        <div class="span6">
           {% set vars = {'action': 'Profile'} %}
           {% include 'VanessaMemberBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="span5 pull-right" style="margin-right: -25px">        
            <a href="{{ path('vanessa_member_edit',{'slug': member.slug })}}.html" class="btn btn-warning pull-right" title="Edit user details."><i class="icon-white icon-edit"></i>&nbsp;Edit user</a>
        </div>
        <div class="span12">
            {% block alert %}
                {% include "::alert.html.twig" %}
            {% endblock %}
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{{ path('vanessa_member_profile',{'slug': member.slug})}}.html" title="Member details" >User details</a></li>
                    <li><a href="{{ path('vanessa_member_account_status_show',{'slug': member.slug})}}.html" title="Account status">Account status</a></li>
                </ul>            
            </div>
            {% include "VanessaMemberBundle:Member:Form/form.profile.html.twig" %}   
        </div>
    </div>     
</div>     
{% block modal_info %}
         {% render url('vanessa_core_site_info_roles') %}  
{% endblock modal_info %}

{% endblock body %}
