<section class="content">
    <table id="sortable" class="table display table-striped table-condensed tablesorter">
        <thead>
            <tr>
                <th scope="col" width="12%">{{ knp_pagination_sortable(pagination,'Name', 'a.name') }}
                  {% if isDirectionSet == false %}
                      <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />  
                  {% else %}
                    {% if pagination.isSorted('a.name') %} {% if direction == 'asc'%} <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />{% else %}<img src="{{ asset('/img/assets/icons/desc.png') }}" title="sort descending" class="pull-right" />{% endif %}</i>{% endif %}
                  {% endif %} 
                 </th>   
                <th scope="col" width="10%">{{ knp_pagination_sortable(pagination,'Account', 'a.accountNumber') }}{% if pagination.isSorted('a.accountNumber') %} {% if direction == 'asc'%} <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />{% else %}<img src="{{ asset('/img/assets/icons/desc.png') }}" title="sort descending" class="pull-right" />{% endif %}</i>{% endif %}</th>
                <th scope="col" width="9%">{{ knp_pagination_sortable(pagination,'Status', 'a.status') }}{% if pagination.isSorted('a.status') %} {% if direction == 'asc'%} <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />{% else %}<img src="{{ asset('/img/assets/icons/desc.png') }}" title="sort descending" class="pull-right" />{% endif %}</i>{% endif %}</th>
                <th scope="col" width="12%">{{ knp_pagination_sortable(pagination,'Created By', 'a.createdBy') }}{% if pagination.isSorted('a.createdBy') %} {% if direction == 'asc'%} <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />{% else %}<img src="{{ asset('/img/assets/icons/desc.png') }}" title="sort descending" class="pull-right" />{% endif %}</i>{% endif %}</th>
                <th scope="col" width="14%">{{ knp_pagination_sortable(pagination,'Created At', 'a.createdAt') }}{% if pagination.isSorted('a.createdAt') %} {% if direction == 'asc'%} <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />{% else %}<img src="{{ asset('/img/assets/icons/desc.png') }}" title="sort descending" class="pull-right" />{% endif %}</i>{% endif %}</th>
                <th scope="col" width="14%">{{ knp_pagination_sortable(pagination,'Updated At', 'a.updatedAt') }}{% if pagination.isSorted('a.updatedAt') %} {% if direction == 'asc'%} <img src="{{ asset('/img/assets/icons/asc.png') }}" title="sort ascending" class="pull-right" />{% else %}<img src="{{ asset('/img/assets/icons/desc.png') }}" title="sort descending" class="pull-right" />{% endif %}</i>{% endif %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          {% for agency in pagination %}
                <tr>
                    <td><a href='{{ path('vanessa_agency_content_owner_profile', {'slug': agency.slug }) }}.html' rel="tooltip" title="{{agency.name}}">{{agency.name|title|truncate(14)}}</a></td>
                    <td>{{agency.accountNumber}}</td> 
                    {% if agency.status.name == 'Active'  %}
                        <td><span class="label label-info">{{agency.status.name }}</span></td>
                    {% else %}
                        <td><span class="label">{{agency.status.name }}</span></td>
                    {% endif %}
                    
                     
                    {% if agency.createdBy is empty %}
                    <td>System default</td>
                    {% else %}
                    <td>{{agency.createdBy.firstName}}&nbsp;{{agency.createdBy.lastName}} </td>
                    {% endif %}
                    <td>{{agency.createdAt|date('Y-m-d H:i A')}}</td>
                    <td>{{agency.updatedAt|date('Y-m-d H:i A')}}</td>
                    <td>
                        <small>
                            <a href='{{ path('vanessa_agency_content_owner_profile', {'slug': agency.slug }) }}.html' rel="tooltip" title="click to view" class="btn btn-mini btn-warning"><i class="icon-white icon-eye-open"></i>&nbsp;<strong>View</strong></a>
                            <a href='{{ path('vanessa_agency_content_owner_edit', {'slug': agency.slug }) }}.html' rel="tooltip" title="click to edit" class="btn btn-mini btn-warning"><i class="icon-white icon-edit"></i>&nbsp;<strong>Edit</strong></a>
                            <a href='#' rel="tooltip" title="click to delete" class="btn btn-mini btn-danger" onclick="alertify.confirm('You are about to delete {{agency.name}}, click ok to confirm action. <br />NB<br /> all members, artist, songs and codes belonging to the content owner will also be deleted.', function (e) {
                                    if (e) {
                                       window.location.href = '{{ url('vanessa_agency_content_owner_delete', {'slug': agency.slug }) }}.html';
                                    } else {
                                       return false;
                                    }
                                });"><i class="icon-white icon-trash"></i>&nbsp;<strong>Delete</strong></a>
                        </small>  
                    </td>
                </tr>
          {% endfor %}
            </tbody>
        </table>
        <div class="navigation pagination-right">
            {{ knp_pagination_render(pagination) }}
        </div>
</section>




