{% extends "VanessaAgencyBundle::layout.html.twig" %}

{% block title %}Profile - {{contentOwner.name}}{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3 class="align_header">Profile - {{contentOwner.name}}</h3>
        <div class="span6">
           {% set vars = {'action': 'Account status'} %}
           {% include 'VanessaAgencyBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="span5 pull-right" style="margin-right: -25px">        
            <a href="{{ path('vanessa_agency_content_owner_account_status_edit',{'slug': contentOwner.slug })}}.html" class="btn btn-warning pull-right" title="Edit Content owner details."><i class="icon-white icon-edit"></i>&nbsp;Edit Content owner</a>
        </div>
        <div class="span12">
            {% block alert %}
                {% include "::alert.html.twig" %}
            {% endblock %}
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="{{ path('vanessa_agency_content_owner_profile',{'slug': contentOwner.slug })}}.html" title="View content owner profile." >Content owner details</a></li>
                    <li class="active"><a href="{{ path('vanessa_agency_content_owner_account_status_show',{'slug': contentOwner.slug })}}.html" title="View content owner account status." >Account status</a></li>
                    <li><a href="{{ path('vanessa_agency_content_owner_list_members',{'slug': contentOwner.slug })}}.html" title="Member list">Members</a></li>
                    <li><a href="{{ path('vanessa_agency_content_owner_list_artists',{'slug': contentOwner.slug })}}.html" title="Artist list">Artists</a></li>
                </ul>            
            </div>
            <div class="span8">
                {% include "VanessaAgencyBundle:ContentOwner:Form/form.account.status.show.html.twig" %} 
            </div> 
            <div class="span3 pull-right">
             {% include "VanessaAgencyBundle:ContentOwner:Hint/form.account.status.html.twig" %} 
            </div>                  
              
        </div>
    </div>     
</div>     

{% endblock body %}
