{% extends "::base.mail.html.twig" %}
{% block body %}
    <table width="100%">
        <tr>
            <td style="font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#FFF;padding-left:15px;padding-right:15px;padding-top:10px;padding-bottom:10px;text-align:center; background-color:#F61B23;border:1px solid #777;">
                <font size="+2">Song rejected</font>
            </td>
        </tr>
    </table><br /><br />
    <p style="margin-bottom: 6pt;">Hi {{ fullName }},</p>
    <p style="margin-bottom: 6pt;">Your song was rejected by administrator.</p>
    <p style="margin-bottom: 6pt;"><strong>{{song.title}}</strong> by <i>{{song.artist.stageName}}</i></p>                                         
    <p style="margin-bottom: 6pt;">
        Follow the link to view more details about the rejection.<br /><a style="color: #006699;" href="{{ link }}">{{ link }}</a>
    </p>
{% endblock body %}
