<div class="shift_30">
    <form class="display helpers form-horizontal" action="" method="POST" {{ form_enctype(form) }}>
      <fieldset>
        <div class="control-group {% if form_errors(form.agency) %} error {% endif %}">
          <label class="control-label" for="agency">{{ form_label(form.agency) }}</label>
          <div class="controls">
            {{ form_widget(form.agency) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member organization."><i class="icon-info-sign"></i></a></span>  
            <span class="help-inline">{{form_errors(form.agency)}}</span>  
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.status) %} error {% endif %}">
          <label class="control-label" for="status">{{ form_label(form.status) }}</label>
          <div class="controls">
            {{ form_widget(form.status) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Account status."><i class="icon-info-sign"></i></a></span>  
            <span class="help-inline">{{form_errors(form.status)}}</span>  
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.title) %} error {% endif %}">
          <label class="control-label" for="title">{{ form_label(form.title) }}</label>
          <div class="controls">
            {{ form_widget(form.title) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member title."><i class="icon-info-sign"></i></a></span>  
            <span class="help-inline">{{form_errors(form.title)}}</span>  
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.gender) %} error {% endif %}">
          <label class="control-label" for="gender">{{ form_label(form.gender) }}</label>
          <div class="controls">
            {{ form_widget(form.gender) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member gender."><i class="icon-info-sign"></i></a></span>  
            <span class="help-inline">{{form_errors(form.gender)}}</span>  
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.firstName) %} error {% endif %}">
          <label class="control-label" for="firstname">{{ form_label(form.firstName) }}</label>
          <div class="controls">
            {{ form_widget(form.firstName) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member first name."><i class="icon-info-sign"></i></a></span>  
             <span class="help-inline">{{form_errors(form.firstName)}}</span>
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.lastName) %} error {% endif %}">
          <label class="control-label" for="lastname">{{ form_label(form.lastName) }}</label>
          <div class="controls">
            {{ form_widget(form.lastName) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member last name."><i class="icon-info-sign"></i></a></span>  
             <span class="help-inline">{{form_errors(form.lastName)}}</span>
          </div>
        </div>       
        <div class="control-group {% if form_errors(form.idNumber) %} error {% endif %}">
          <label class="control-label" for="idNumber">{{ form_label(form.idNumber) }}</label>
          <div class="controls">
            {{ form_widget(form.idNumber) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member ID / Passport number."><i class="icon-info-sign"></i></a></span>  
             <span class="help-inline">{{form_errors(form.idNumber)}}</span>
          </div>
        </div>       
        <div class="control-group {% if form_errors(form.email) %} error {% endif %}">
          <label class="control-label" for="email">{{ form_label(form.email) }}</label>
          <div class="controls">
            {{ form_widget(form.email) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member email address."><i class="icon-info-sign"></i></a></span>  
             <span class="help-inline">{{form_errors(form.email)}}</span>
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.mobileNumber) %} error {% endif %}">
          <label class="control-label" for="mobile_number">{{ form_label(form.mobileNumber) }}</label>
          <div class="controls">
            {{ form_widget(form.mobileNumber) }} 
            <span class="help-inline"><a href="#" rel="tooltip" data-placement="right" title="Member mobile number."><i class="icon-info-sign"></i></a></span>  
             <span class="help-inline">{{form_errors(form.mobileNumber)}}</span>
          </div>
        </div> 
        <div class="control-group {% if form_errors(form.group) %} error {% endif %}">
          <label class="control-label" for="group">{{ form_label(form.group) }}</label>
          <div class="controls">
            {{ form_widget(form.group) }} 
            <span class="help-inline"><a href="#myModal" rel="tooltip" data-placement="right" data-toggle="modal" title="Member assigned role or privilege on the platform."><i class="icon-question-sign"></i></a></span>  
            <span class="help-inline">{{form_errors(form.group)}}</span>  
          </div>
        </div>
          {{ form_rest(form) }}       
      </fieldset>
    </form>
</div>        
